.score {

    color: black;
    font-size: 30px;
    position: relative;
    bottom: 650px;
    left: 1000px;
    width: 200px;
    
}

.showLevel {

    color: whitesmoke;
    text-align: center;
    font-size: 80px;
    position: relative;
    bottom: 750px;
    left: 575px;
    width: 350px;
}


.table {
    margin-right: center;
    margin-left: center;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.823);
    border-style: solid;
    border-color: blue;
    border-width: 20px;
  }
  
  .td {
    background-color: rgba(0, 0, 0, 0.823);
    height: 50px;
    width: 50px;
  }

  .cellElement {
    height: 50px;
    width: 50px
  }

  .lazer { 
    height: 40px;
    width: 40px;
    position: relative;
    
  }

  .gunfire { 
    height: 40px;
    width: 40px;
    position: relative;
    left: 5px
  }

.superLazer {
    height: 45px;
    width: 45px;
    align-items: center;
    align-content: center;
    margin: 0px;
    padding: 0px;

}

.prompt {

    color: whitesmoke;
    position: relative;
    bottom: 450px;
    left: 548px;
    font-size: 30px;
    width: 400px;
    text-align: center
}
  

.levels {

    width: 350px;
    position: relative;
    bottom: 350px
}

.levels2 {
    
    width: 350px;
    position: relative;
    bottom: 340px;
    
}

.endGame  {

  position: relative;
  bottom: 20px;
  left: 770px;
  height: 50px;
  width: 150px;
  color: black;
  background-color: whitesmoke;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
  
.bullet {

  width: 20px;
  height: 20px;
  position:relative;
  left: 15px;

}

.start {

  position: relative;
  top: 653px;
  left: 580px;
  height: 50px;
  width: 150px;
  color: black;
  background-color: whitesmoke;
  border-style: solid;
  border-color: blue;
  border-width: 5px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barrier {

  background-color: red;
  height: 2px;
  width: 377px;
  position: relative;
  bottom: 134px;
  left: 560px;

}

.healthBar {

  background-color: black;

  position: relative;
  bottom: 730px;
  left: 580px;
}

.healthPoint {

  background-color: red;
  height: 10px;
  width: 30px;
}

.healthPointOff {

  background-color: whitesmoke;
  height: 10px;
  width: 30px;
}
